/* Grid-container class for the website starts here */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
/* Grid-container class for the website ends here */

/* Header class for the header section starts here*/
.header{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:1;
    grid-row-end: 2;
}
/* Header class for the header section ends here*/

/* Hero class for the hero section starts here */
.hero{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:2;
    grid-row-end: 3;
}
/* Hero class for the hero section ends here */

/*  Content 1 id starts here */
#content1{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end:4;
}
/*  Content 1 id ends here */

/*  Backgrond 1 class starts here */
.background1{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end: 4;
}
/*  Backgrond 1 class ends here */

/*  Content 2 class starts here */
.content2{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 4;
    grid-row-end:5;
}
/*  Content 2 class ends here */

/*  background 2 class starts here */
.background2{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 4;
    grid-row-end: 5;
}
/*  background 2 class ends here */

/* Footer class for the footer section starts here */
.footer{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:7;
    grid-row-end: 8;
}
/* Footer class for the footer section ends here */

/*  Body of the page starts here */
body {
    margin: 0;
    background-color: #ececec;
}
/*  Body of the page ends here */

/*  Particles.js library id starts here */
#particles-js{
    height: 100vh;
}
/*  Particles.js library id ends here */

/*  Logo of the website starts here */
.logo{
    margin-top: 1%;
    margin-left: 39%;
    width: 20%;
    height: 8%;
}
/*  Logo of the website ends here */

/* Navigation Bar of the website starts here */
.navbar{
    margin-left: 32.5%;
    margin-top: 1%;
}
/* Navigation Bar of the website ends here */

/* A tag inside the navigation bar class starts here */
.navbar a{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    text-decoration: none;
    display:inline-flex;
    justify-content: space-between;
    padding-left: 5%;
}
/* A tag inside the navigation bar class ends here */

/*  logocamera class starts here */
.logocamera{
    width: 40%;
    margin-top: -17%;
    margin-left: 30%;
    filter: drop-shadow(10px 10px 10px #333333);
}
/*  logocamera class ends here */

/* H1 tag inside the hero class starts here */
.hero h1{
    font-family: 'Qermola' ;
    font-size: 15rem;
    color: #A3C985;
    width: 50%;
    text-align: center;
    margin-top: -50%;
    margin-left: 20%;
}
/* H1 tag inside the hero class ends here */

/* H2 tag inside the hero class starts here */
.hero h2{
    font-family: 'Lato', sans-serif; 
    font-size: 35px;
    color: #454545;
    width: 65%;
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: -2%;
} 
/* H2 tag inside the hero class ends here */

/* Button of the page starts here */
.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
  font-family: 'Lato', sans-serif;
    font-weight : bold ;
    color : #A3C985 ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : #A3C985 ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px #A3C985 ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : #A3C985 ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}
/* Button of the page starts here */

/* Container class starts here */
.container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    
}
/* Container class ends here */

/* Background1 class starts here */
.background1{
    background: #A3C985;
    margin-left: 8%;
    padding-bottom: 3%;
    width: 85%;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 10px #333333);
}
/* Background1 class ends here */

/* H1 tag inside background1 class starts here */
.background1 h1{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 60px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}
/* H1 tag inside background1 class ends here */

/* H2 tag inside first class starts here */
.first h2{
    font-family: 'Qermola' ;
    color: #454545;
    font-size: 40px;
    margin-left: 7%;
    margin-bottom: -1%;
}
/* H2 tag inside first class ends here */

/* First class starts here */
.first{
    margin-left: 5%;
    margin-bottom: 10%;
}
/* First class ends here */

/* Image inside the first class starts here */
.first img{
    width: 25%;
    filter: drop-shadow(10px 10px 10px black);
}
/* Image inside the first class ends here */

/* Hover animation to the image inside the first class starts here */
.first img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
/* Hover animation to the image inside the first class ends here */

/* P tag inside first class starts here */
.first p{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    margin-left: 9%;
    margin-top: -1%;

}
/* P tag inside first class ends here */

/* A tag inside first class starts here */
.first a{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    text-decoration: none;
    margin-left: 9%;
    margin-top: -10%;
    padding-bottom: 10%;
}
/* A tag inside first class ends here */

/* Second class starts here */
.second{
    margin-top: -42%;
    margin-left: 36%;
}
/* Second class ends here */

/* H2 tag inside second class starts here */
.second h2{
    font-family: 'Qermola' ;
    color: #454545;
    font-size: 40px;
    margin-left: 8%;
    margin-top: -15%;
}
/* H2 tag inside second class ends here */

/* Image inside the second class starts here */
.second img{
    width: 38%;
    filter: drop-shadow(10px 10px 10px black);
    margin-top: -7%;
}
/* Image inside the second class ends here */

/* Hover animation to the image inside the second class starts here */
.second img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
/* Hover animation to the image inside the second class ends here */

/* P tag inside second class starts here */
.second p{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    margin-left: 15%;
    margin-top: -1%;
}
/* P tag inside second class ends here */

/* A tag inside second class starts here */
.second a{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    text-decoration: none;
    margin-left: 9%;
    margin-top: -10%;
    padding-bottom: 10%;
}
/* A tag inside second class ends here */

/* Third class starts here */
.third{
    margin-top: -34%;
    margin-left: 70%;
}
/* Third class ends here */

/* H2 tag inside third class starts here */
.third h2{
    font-family: 'Qermola' ;
    color: #454545;
    font-size: 40px;
    margin-left: 17%;
}
/* H2 tag inside third class ends here */

/* Image inside the third class starts here */
.third img{
    width: 80%;
    filter: drop-shadow(10px 10px 10px black);
    margin-top: -15%;
}
/* Image inside the third class ends here */

/* Hover animation to the image inside the third class starts here */
.third img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
/* Hover animation to the image inside the third class ends here */

/* P tag inside third class starts here */
.third p{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    margin-left: 35%;
    margin-top: -1%;
}
/* P tag inside third class ends here */

/* A tag inside third class starts here */
.third a{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    text-decoration: none;
    margin-left: 35%;
    margin-top: -10%;
    padding-bottom: 10%;
}
/* A tag inside third class ends here */

/* background2 class starts here */
.background2{
    margin-bottom: 7%;
}
/* background2 class ends here */

/* H2 inside background2 class starts here */
.background2 h2{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    margin-top: 10%;
    margin-left: 8%;
}
/* H2 inside background2 class ends here */

/* Eye-af class starts here */
.eye-af{
    margin-left: 8%;
}
/* Eye-af class ends here */

/* Image inside the Eye-af class starts here */
.eye-af img{
    width: 25%;
    filter: drop-shadow(10px 10px 10px #333333);
}
/* Image inside the Eye-af class ends here */

/* Hover animation of the image inside the Eye-af class starts here */
.eye-af img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
/* Hover animation of the image inside the Eye-af class ends here */

/* H3 inside the Eye-af class starts here */
.eye-af h3{
    font-family: 'Lato', sans-serif;
    color: #A3C985;
    font-size: 25px;
}
/* H3 inside the Eye-af class ends here */

/* P tag inside the Eye-af class starts here */
.eye-af p{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
}
/* P tag inside the Eye-af class ends here */

/* Lighting class starts here */
.lighting{
    margin-left: 38%;
    margin-top: -37%;
}
/* Lighting class ends here */

/* Image inside the lighting class starts here */
.lighting img{
    width: 37%;
    filter: drop-shadow(10px 10px 10px #333333);
}
/* Image inside the lighting class ends here */

/* Hover animation of the image inside the lighting class starts here */
.lighting img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
/* Hover animation of the image inside the lighting class ends here */

/* H3 inside the lighting class starts here */
.lighting h3{
    font-family: 'Lato', sans-serif;
    color: #A3C985;
    font-size: 25px;
}
/* H3 inside the lighting class ends here */

/* P tag inside the lighting class starts here */
.lighting p{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
}
/* P tag inside the lighting class ends here */

/* Focus class starts here */
.focus{
    margin-left: 68%;
    margin-top: -37%;
}
/* Focus class ends here */

/* Image inside the Focus class starts here */
.focus img{
    width: 72%;
    filter: drop-shadow(10px 10px 10px #333333);
}
/* Image inside the Focus class ends here */

/* Hover animation of the image inside the Focus class starts here */
.focus img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
/* Hover animation of the image inside the Focus class ends here */

/* H3 inside the Focus class starts here */
.focus h3{
    font-family: 'Lato', sans-serif;
    color: #A3C985;
    font-size: 25px;
}
/* H3 inside the Focus class ends here */

/* P tag inside the Focus class starts here */
.focus p{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
}
/* P tag inside the Focus class ends here */

/* Followus class starts here */
.followus{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    margin-left: 10%;
}
/* Followus class ends here */

/* Icons class starts here */
.icons{
    width: 3%;
    height: 3%;
    margin-top: 1%;
}
/* Icons class ends here */

/* Products class starts here */
.products{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    text-align: center;
    margin-top: -11.5%;
}
/* Products class ends here */

/* A tag inside the products class starts here */
.products a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    font-size: 20px;
    text-decoration: none;
}
/* A tag inside the products class ends here */

/* Email class starts here */
.email{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    margin-left: 70%;
    margin-top: -13.5%;
    text-align: center;
}
/* Email class ends here */

/* P tag inside the email class starts here */
.email p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    font-size: 20px;
}
/* P tag inside the email class starts here */

/* Copyright class starts here */
.copyright{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
}
/* Copyright class ends here */