/* Grid-container class for the website starts here */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
/* Grid-container class for the website ends here */

/* Header class for the header section starts here*/
.header{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:1;
    grid-row-end: 2;
}
/* Header class for the header section ends here*/

/* Hero class for the hero section starts here */
.hero{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:2;
    grid-row-end: 3;
}
/* Hero class for the hero section ends here */

/*  Form id of the page starts here */
#form{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end:4;
}
/*  Form id of the page ends here */

/* Footer class for the footer section starts here */
.footer{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:4;
    grid-row-end: 5;
}
/* Footer class for the footer section ends here */

/*  Body of the page starts here */
body {
    margin: 0;
    background-color: #ececec;
}
/*  Body of the page ends here */

/*  Particles.js library id starts here */
#particles-js{
    height: 100vh;
}
/*  Particles.js library id ends here */

/*  Logo of the website starts here */
.logo{
    margin-top: 1%;
    margin-left: 39%;
    width: 20%;
    height: 8%;
}
/*  Logo of the website ends here */

/* Navigation Bar of the website starts here */
.navbar{
    margin-left: 32.5%;
    margin-top: 1%;
}
/* Navigation Bar of the website ends here */

/* A tag inside the navigation bar class starts here */
.navbar a{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 22px;
    text-decoration: none;
    display:inline-flex;
    justify-content: space-between;
    padding-left: 5%;
}
/* A tag inside the navigation bar class ends here */

/*  logocamera class starts here */
.logocamera{
    width: 40%;
    margin-top: -17%;
    margin-left: 30%;
    filter: drop-shadow(10px 10px 10px #333333);
}
/*  logocamera class ends here */

/* H1 tag inside the hero class starts here */
.hero h1{
    font-family: 'Qermola' ;
    font-size: 15rem;
    color: #A3C985;
    width: 50%;
    text-align: center;
    margin-top: -50%;
    margin-left: 25%;
}
/* H1 tag inside the hero class ends here */

/* H2 tag inside the hero class starts here */
.hero h2{
    font-family: 'Lato', sans-serif; 
    font-size: 35px;
    color: #454545;
    width: 65%;
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: -2%;
} 
/* H2 tag inside the hero class ends here */

/* Button of the page starts here */
.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
  font-family: 'Lato', sans-serif;
    font-weight : bold ;
    color : #A3C985 ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : #A3C985 ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px #A3C985 ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : #A3C985 ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}
/* Button of the page starts here */

/* Container class starts here */
.container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    
}

/* Form id starts here */
#form{
    width: 60%;
    height: 80%;
    background-color: white;
    border: 1px solid #737373;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 20%;
    box-shadow: 5px 5px 8px grey;
}
/* Form id ends here */

/* H3 inside the form id starts here */
#form h2{
    font-family: 'Lato', sans-serif; 
    font-size: 35px;
    color: #454545;
    text-align: center;
}
/* H3 inside the form id starts here */

/*  Name id starts here */
#name{
    width: 40%;
    border: 1px solid #737373;
    margin: 2%;
    border-radius: 10px;
    padding: 2%;
}
/*  Name id ends here */

/*  Email id starts here */
#email{
    width: 40%;
    border: 1px solid #737373;
    margin: 2%;
    border-radius: 10px;
    padding: 2%;
}
/*  Email id ends here */

/*  Message id starts here */
#message{
    border: 1px solid #737373;
    width: 90%;
    height: 50%;
    margin-left: 2%;
    margin-top: -2%;
    border-radius: 10px;
    padding: 2%;
}
/*  Message id ends here */

/*  Popup class starts here */
.popup {
    width: 20%;
    height: 10%;
    color: #A3C985;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    margin-top: 3%;
    margin-left: 40%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /*  Popup and popuptext classes */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /*  Popup and show classes */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
/*  Animation effect*/
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/*  Popup class starts here */

/* Followus class starts here */
.followus{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    margin-left: 10%;
}
/* Followus class ends here */

/* Icons class starts here */
.icons{
    width: 3%;
    height: 3%;
    margin-top: 1%;
}
/* Icons class ends here */

/* Products class starts here */
.products{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    text-align: center;
    margin-top: -11.5%;
}
/* Products class ends here */

/* A tag inside the products class starts here */
.products a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    font-size: 20px;
    text-decoration: none;
}
/* A tag inside the products class ends here */

/* Email class starts here */
.email{
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-size: 35px;
    margin-left: 70%;
    margin-top: -13.5%;
    text-align: center;
}
/* Email class ends here */

/* P tag inside the email class starts here */
.email p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    font-size: 20px;
}
/* P tag inside the email class starts here */

/* Copyright class starts here */
.copyright{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
}
/* Copyright class ends here */